asgiref==3.7.2
beautifulsoup4==4.12.2
black==23.11.0
certifi==2023.11.17
charset-normalizer==3.3.2
click==8.1.7
crispy-bootstrap4==2023.1
Django==5.0
django-crispy-forms==2.1
django-stubs==4.2.6
django-stubs-ext==4.2.5
gunicorn==21.2.0
idna==3.6
mypy-extensions==1.0.0
packaging==23.2
pathspec==0.11.2
platformdirs==4.1.0
psycopg==3.1.16
psycopg-binary==3.1.16
psycopg2-binary==2.9.9
python-dotenv==1.0.0
requests==2.31.0
soupsieve==2.5
sqlparse==0.4.4
types-pytz==2023.3.1.1
types-PyYAML==6.0.12.12
typing_extensions==4.8.0
urllib3==2.1.0
whitenoise==6.6.0
