{% extends "base.html" %}
{% block content %}
  <div class="row mb-4">
    <div class="col-md-6">
      <h3>Your sites</h3>
    </div>
    <div class="col-md-6 d-flex justify-content-end">
      <a href="{% url 'vpn:site_create' %}" class="btn btn-success"><i class="fa-regular fa-square-plus fa-lg"></i> Add Site</a>
    </div>
  </div>
  {% if site_list %}
    <div class="row">
      {% for site in site_list %}
        <div class="col-md-4 mb-4">
          <div class="card">
            <div class="card-body">
              <p class="card-text">Domain: {{ site.domain }}</p>
              <p class="card-text">Endpoint: {{ site.endpoint }}</p>
              <a href="{% url 'vpn:proxy' site.domain site.endpoint %}"
                 class="btn btn-primary"
                 target="_blank">
                Open Website <i class="fa-solid fa-arrow-up-right-from-square"></i>
              </a>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  {% else %}
    <p class="text-muted">You haven't added any sites yet</p>
  {% endif %}
{% endblock content %}
